[submodule "gcaceres93/odoo_paraguay"]
	path = gcaceres93/odoo_paraguay
	url = git@github.com:gcaceres93/odoo_paraguay.git
	branch = 15.0


[submodule "gcaceres93/account_payment"]
	path = gcaceres93/account_payment
	url = git@github.com:gcaceres93/account_payment.git
	branch = 15.0


[submodule "gcaceres93/tesaka2"]
	path = gcaceres93/tesaka2
	url = git@github.com:gcaceres93/tesaka.git
	branch = 15.0

[submodule "gcaceres93/accounting_reports_paraguay"]
	path = gcaceres93/accounting_reports_paraguay
	url = git@github.com:gcaceres93/accounting_reports_paraguay.git
	branch = 15.0

[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 15.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 15.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 15.0

[submodule "OCA/mis-builder"]
	path = OCA/mis-builder
	url = git@github.com:OCA/mis-builder.git
	branch = 15.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 15.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 15.0

