[submodule "gcaceres93/odoo_paraguay"]
	path = gcaceres93/odoo_paraguay
	url = git@github.com:gcaceres93/odoo_paraguay.git
	branch = 12.0


[submodule "gcaceres93/account_payment"]
	path = gcaceres93/account_payment
	url = git@github.com:gcaceres93/account_payment.git
	branch = 12.1


[submodule "gcaceres93/tesaka"]
	path = gcaceres93/tesaka
	url = git@github.com:gcaceres93/tesaka.git
	branch = 12.0

