<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

        <!-- Se deja solo con acceso a aplicaciones nativas al grupo genetyx.all_apps -->
        <record model="ir.ui.menu" id="sale.sale_menu_root">
          <field name="groups_id" eval="[(6,0,[ref('genetyx.all_apps')])]"/>
        </record>
        <!-- comentario -->

        <record model="ir.ui.menu" id="purchase.menu_purchase_root">
          <field name="groups_id" eval="[(6,0,[ref('genetyx.all_apps')])]"/>
        </record>

        <record model="ir.ui.menu" id="account.menu_finance">
          <field name="groups_id" eval="[(6,0,[ref('genetyx.all_apps')])]"/>
        </record>

        <record model="ir.ui.menu" id="stock.menu_stock_root">
          <field name="groups_id" eval="[(6,0,[ref('genetyx.all_apps')])]"/>
        </record>

        <record model="ir.ui.menu" id="contacts.menu_contacts">
          <field name="groups_id" eval="[(6,0,[ref('genetyx.all_apps')])]"/>
        </record>



    </data>
</odoo>