

div#body{
    width: 900px;
    height: 200px;
    padding: 3px;
    /*border:1px solid black;*/
}


div#derecha{
    margin: auto;
    margin-top: 2%;
    margin-right: -2%;
    width: 300px;
    height: 165px;
    border: 1px solid black;
    float:right;
    /*color:red;*/
    /*text-align: center;*/
}

div#izquierda{
    margin-top: 2%;
    margin-left: 1%;
    width: 598px;
    height: 165px;
    border:1px solid black;
    float:left;
}

div#body2{
    width: 903px;
    height: 125px;
    padding: 3px;
    border:1px solid black;
    margin-top: -1.0%;
    margin-right: 1%;
    margin-left: 1.10%;
}

div#derecha2{
    margin: auto;
    margin-top: -0.30%;
    margin-left: -10%;
    width: 300px;
    height: 125px;
    border: 1px solid red;
    float:right;
}


div#izquierda2{
    /*margin-top: -21.75%;*/
    margin-top:-0.50%;
    /*margin-left: -1%;*/
    width: 590px;
    height: 125px;
    /*border:1px solid black;*/
    float:left;
}

div#body3{
    width: 903px;
    height: 70px;
    padding: 3px;
    border:1px solid black;
    margin-top: 0.10%;
    margin-right: 1%;
    margin-left: 1.10%;
}
#tablafactura{
    margint-top:-3px;
    width: 60%;
    height: 67.5px;
    /*padding: 3px;*/
}
td{
    border: 1px solid black;
    width: 5px;
    text-align: center;

}

#divtabla{
    position: absolute;
    left: 15cm;
    top: 11.3cm;
    width: 37.5%;
    height: 67.50px;
    float: right;
    border:1px solid black;
    font-size:16px;
    text-align: center;
    margin-top:14%;
}
#divtabla2{
    /*float:right;*/

}
#div1{
    position: absolute;
    left: 15.30cm;
    top:12.20cm;

}
#div2{
    position: absolute;
    left: 19.10cm;
    top: 12.20cm;

}


.tabla_productos-1{
     /*position:absolute;*/
    width:97.64%;
    margin-left:1%;
    /*margin-top:-15%*/
    /*width: 21cm;*/
    /*top:4.4cm ;*/
    /*left: 4.3cm;*/
    /*boder:none;*/

}

/*FILAS DEL PRODUCTO*/
.tabla_cuerpo-1 td{
    border:none;
    line-height: 0.5cm;
}
.tabla_cuerpo-1 #codigo {
    width: 13.6%;
}
.tabla_cuerpo-1 #cantidad {
    width: 13.6%;
}
.tabla_cuerpo-1 #descripcion {
    width: 30.8%;
    text-align: left;
    font-size: 13px;
}
.tabla_cuerpo-1 #precio_unitario{
    width: 13.2%;
}
.tabla_cuerpo-1 #diez1{
    width: 10.9%;
}
.tabla_cuerpo-1 #diez2{
    width: 8.8%;
}
.tabla_cuerpo-1 #diez3{
    width: 10.2%;
}
.tabla_cuerpo-1 #cinco1{
    width: 10.9%;
}
.tabla_cuerpo-1 #cinco2{
    width: 8.8%;
}
.tabla_cuerpo-1 #cinco3{
    width: 10.2%;
}
.tabla_cuerpo-1 #exenta1{
    width: 10.9%;
}
.tabla_cuerpo-1 #exenta2{
    width: 8.8%;
}
.tabla_cuerpo-1 #exenta3{
    width: 10.2%;
}


.cabecera{
     border:2px solid black; font-size:15px;
}

.pie{
    position:absolute;
   left: 1.50%;
    top:30.20cm;

}

.cabecera_producto{
    border:1px solid black;
    width:26.55%;
    margin-left:1.18%;
}

.cabecera_producto td{
    border:1px solid black;
    margin-left:-2cm;
    height: 0.30cm;
    padding: 5.25%;

}

.cabecera_producto2{
    width: 43%;
    border:1px solid black;
    position: absolute;
    top:8.35cm;
    left:7.15cm;

}
.cabecera_producto2 td{
    height: 1.30cm;
}

.cabecera_producto3{
    width: 28.0%;
    border: 1px solid black;
    position: absolute;
    top:8.35cm;
    left:17.70cm;
}

.cabecera_producto4{
    width: 28.0%;
    border: 1px solid black;
    position:absolute;
    top:9.0cm;
    left: 17.70cm;
}

.cabecera_producto4 td{
    width: 3cm;
}
/*#####################TABLA PRODUCTOS SECCION######################*/
.tabla_productos_seccion{
    width: 13.90cm;
    font-size: 11.40px;
    /*position: absolute;*/
    /*top:5.90cm;
    top:16.30cm;
    left:2.40cm;
    right: 0.70cm;*/
    margin-left: 0.30cm;
    margin-top: 0.20cm;
    /*border: 1px solid black;*/
}
.tabla_productos_seccion tbody, td{
    /*border: 1px solid black;*/
}
/*####################TABLA PRECIO SECCION############################*/
.tabla_precio_seccion{
    width: 10.0cm;
    font-size: 11.40px;
    position: absolute;
    top:9.80cm;
    /*top:16.30cm;*/
    left:14.50cm;
    /*right: 0.70cm;*/
}

.tabla_precio_seccion tbody, td {
    /*border:1px solid black;*/
    line-height: 0.60cm;
}
#telefono
{
    margin-toptop: 2cm;
    font-size:13px;
    color: red;

}

#tel
{
    font-size:13px;
    left:8.20cm;
    top:3.9cm;
    position:absolute;
}
#correo
{
    font-size:13px;
    left:8.20cm;
    top:4.35cm;
    position:absolute;
}
#compa{
    left:8.20cm;
     top:3cm;
    font-size:13px;
    position:absolute;
    width: 9cm;
    /*border: 1px solid red;*/


}
/*#id_cantidad_seccion{
    width: 3cm;
}
#id_partes_seccion{
    width: 3.20cm;
}
#id_descripcion_seccion{
    width: 11.50cm;
    text-align: left;
}*/
#id_precio_seccion{
        /*border: 1px solid black;*/
        width:3.50cm;
}
#id_cantidad_seccion{
    /*border: 1px solid black;*/
    width: 3cm;
    /*color:red;*/
}
#id_partes_seccion{
    /*border: 1px solid black;*/
    width: 3cm;
}

#id_descripcion_seccion{
    text-align: left;
    /*border: 1px solid black;*/
    width: 7cm;
}
#id_partes_seccion{
    /*border: 1px solid black;*/
}
#id_exento_seccion{
    text-align: right;
    /*border: 1px solid black;*/
    width: 2.33cm;
}
#id_5porciento_seccion{
    text-align: right;
    /*border: 1px solid black;*/
    width: 2.33cm;
}
#id_10porciento_seccion{

    /*border: 1px solid black;*/
    width: 2.34cm;
}
